<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>647983364695-3r8lfq2puthd6c6tsknkc80r2vs9v6gq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.647983364695-3r8lfq2puthd6c6tsknkc80r2vs9v6gq</string>
	<key>API_KEY</key>
	<string>AIzaSyDk2xT2BwrRqt6BqwbYlppk22XNqaEOY4U</string>
	<key>GCM_SENDER_ID</key>
	<string>647983364695</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myWeatherApp</string>
	<key>PROJECT_ID</key>
	<string>my-weather-app-8945f</string>
	<key>STORAGE_BUCKET</key>
	<string>my-weather-app-8945f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:647983364695:ios:421a0c0869fce3904e0112</string>
</dict>
</plist>